*{
    font-family: "poppins"; sans-serif
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(185, 185, 185);
}
/*header*/


h1, img{
    display: inline-block;
    vertical-align: middle
}

.position-logotext{
    paddding: 20px;
}

.logotext{
    display: inline-block;
}

.logo{
    background-color: white;
    height: 100px;
    margin-bottom: : 50px;;
}


background-color{
    white;
    color: lightgrey;
    
}

ul li{
    display: block
    margin: 20px;
}

ul{ 
    display: :block;
}

.not-verified, .verified{
    display: inline block;
    border-radius: 50px;
    border: 2px solid;
    height: 30px;
    width: 30px;
    text-align: center;
    font-align: center;
    font-size: 10px;
}

.verified{
    border: 2pc solid green;
}


.upcoming{
    padding-buttom: 50px;
}


.blue{
    background: blue;
}

.violet{
    background: violet;
}

.orange{
    background-color: orange;
}

.choice{
    padding-left: 5%;
    padding: 50px;
}


.button, .button2{
    border-radius: 20%;
    color: lightgrey;
    background: color blue;
    border: lpx solid lightgrey;
    padding: 7px;
}


.button2{
    background-color: white;
    color: lightgrey;
}

.container{
    width: 80px;
    margin: auto;
    background-color: d-color: white;
}

.upcoming li, .today li, .task li{
    liststyle: none;
}

.background{
    border-radius: 20px;
    color: white;
    padding: 5px;

}
.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.blue{
    background: blue;
}